body {
    background-color: rgb(54, 54, 54);
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;


}

.heading {
    text-align: center;
    margin: 50px;

}

.main-content {
    display: flex;
    justify-content: center;


}

.input-section {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 25px;

}

.output-section {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 25px;
    width: 30%;
}

input {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 30px;
    width: 75%;
    padding: 10px;
    background-color:rgb(54, 54, 54);
    color: white;    
}


button {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    width: 50%;


}

.breakdown-grid {

    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 1.5rem;
    padding: 20px;
    gap: 100px;
    



}

.tip-amount{
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    width: 130px;
    font-size: 20px;
    height: 70px;
    
}



.total-bill{
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    width: 120px;
    font-size: 20px;
    height: 70px;
}

.per-person{
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    width: 130px;
    font-size: 20px;
    height: 70px;
}

.tip-per-person{
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    height: 70px;
}
